

.js .js-scroll {
  opacity: 0;
  transform: translate3d(-30px, 0, 0);
  transition: .3s;
}

.js .js-scroll.ativo {
  opacity: 1;
  transition: .3s;
  transform: translate3d(0, 0, 0);

}


.js .fadeInDown {
  transform: translate3d(0, -20px, 0);
}
.js .fadeInUp {
  transform: translate3d(0, 20px, 0);
}
.js .fadeInRight {
  transform: translate3d(20px, 0, 0);
}
.js .fadeInLeft {
  transform: translate3d(-20px, 0, 0);
}

/* 7 Adicione o CSS Essencial abaixo */
.js [data-anime] {
  opacity: 0;
}
.js .anime {
  opacity: 1;
  transform: none;
  transition: transform 0.8s, opacity 0.8s;
}