@import "../styles/home.css";

/* botao */

.btn {
    color: var(--g01);
    text-transform: uppercase;
    padding: 12px 30px;
    display: inline-block;
    border-radius: 50px;
    transition: .3s;
    border: 2px solid var(--primary-color);
    
    
}
.btn:hover {
    background: var(--primary-color);
}
.btn-ver-mais {
    color: var(--secondary-color);
    background: var(--primary-color);
    text-decoration: none;
    padding: 12px 30px;
    border-radius: 50px;
    transition: .3s;
    cursor: pointer;
    margin-top: 40px;
    border: 2px solid var(--primary-color);
    height: auto;
}
.btn-ver-mais:hover {
    background: transparent;
    color: black;
}
.div-btn-ver-mais {
    display: flex;
    justify-content: center;
    
}