@import "../styles/home.css";

/* botao */

.btn {
    color: var(--g01);
    text-transform: uppercase;
    padding: 12px 30px;
    display: inline-block;
    border-radius: 50px;
    transition: .3s;
    border: 2px solid var(--primary-color);
    
    
}
.btn:hover {
    background: var(--primary-color);
}
